@inherits UmbracoViewPage<TreasureRoom.Models.ViewModel.PostViewModel>

@using (Html.BeginUmbracoForm("SubmitForm", "PostSurface", FormMethod.Post))
{
        <div class="container">
                <div class="form-group">
                    @Html.LabelFor(m => m.Postcode)
                    <div class="input-group">
                        @Html.EditorFor(m => m.Postcode, new { htmlAttributes = new { @class = "search-field location", placeholder = "Postcode" } })
                    </div>
                    @Html.ValidationMessageFor(m => m.Postcode, String.Empty, new { @class = "validation-messages" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemType)
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.ItemType, new SelectList(Model.ItemTypesData, "ItemType", "ItemType"), "Select...", new {@class="item-types_dropdown"})
                        <button id="Submit" class="search-btn">Search</button>
                    </div>
                    @Html.ValidationMessageFor(m => m.ItemType, String.Empty, new { @class = "validation-messages" })
                </div>
            </div>
}
